// Variables
$primary-color: #ebe5bb;
$secondary-color: #ebe5bb;
$dark-bg-color: #333;
$text-color: #ffffff;
$hover-bg-color: #d1cda8;

// Styles
#homePage {
    padding: 20px;
    background-color: $dark-bg-color;
    color: $text-color;

    .home__welcome {
        text-align: center;
        padding: 40px 20px;
        background-color: $primary-color;
        border-radius: 10px;
        color: $secondary-color;
        margin-bottom: 40px;
        color: #333;

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            font-weight: 800;
        }

        p {
            font-size: 1.2em;
        }
    }

    .home__main-image {
        text-align: center;
        margin-bottom: 40px;

        .main-img {
            width: 70%;
            height: auto;
            border-radius: 10px;
        }
    }

    .home__content {
        margin-top: 40px;

        h2 {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: $secondary-color;
        }

        .video-card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;

            .video-card {
                background-color: rgb(237, 231, 219);
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                text-decoration: none;
                color: $dark-bg-color;
                width: calc(33% - 20px);
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
                    background-color: $hover-bg-color;
                }

                .video-thumbnail {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }

                .video-title {
                    font-size: 1.2em;
                    margin: 10px 0;
                }

                .video-description {
                    font-size: 0.9em;
                    margin-bottom: 10px;
                    color: $dark-bg-color;
                }

                .video-link {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: $primary-color;
                    color: $text-color;
                    border-radius: 5px;
                    text-decoration: none;
                    font-size: 1em;
                    text-align: center;
                    transition: background-color 0.3s;
                    background-color: #333;


                    &:hover {
                        background-color: $hover-bg-color;
                        color: $dark-bg-color;
                    }
                }
            }
        }
    }
}
